<%- include("header")%>
<%- include("nav")%>
<form class="w-25 container" action="/add" method="post">
  <h1 class="container my-3"><span class="text-success">Create</span> task...</h1>
<input class="form-control my-2 fs-5" type="text" placeholder="title" name="title">
<textarea class="form-control fs-5" name="description" placeholder="Description" cols="30" rows="5"></textarea>
<button class=" btn btn-success w-100 my-2">Add task</button>
  
</form>

<%- include("footer")%>